{% extends "master.html" %} 
{% load static %}


{% block title %} 
    Testing: Members
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'testing.css' %}">
{% endblock %}

{% block content %} 
    {% include "menu.html" with me="Samran" sponsor="Aleyadhi" %}

    <p>Queryset object: </p>
    {{ members }}

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        {% for x in members %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{x.firstname}}</td>
            <td>{{x.lastname}}</td>
        </tr>
        {% endfor %}td
    </table>
{% endblock %}